<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="utf-8" />


    <title>Online Casino: Home </title>

</head>
<body>

    <!--Header-->

    <header>
        <h1>Online Casino</h1>
        <h2>The Safest place to bet!</h2>
    </header>

    <!--Seach-->

    <div id="searchBar" class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <form method="GET" action="#" class="form-inline">
                    <div class="form-group w-75">
                        <input placeholder="Search" name="Search your Game" type="text" class="form-control w-100" />
                    </div>
                </form>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <!--Nav-->

            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{{url_for('main')}}">Home</a></li>
                    <li role="presentation"><a href="{{url_for('showslots')}}">Slots</a></li>
                    <li role="presentation"><a href="{{url_for('showSignUp')}}">Sign Up</a></li>
                    <li role="presentation"><a href="#">Sign In</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Online Casino</h3>

        <section>
            <!--What We Do-->

            <h1> Who we are? </h1>
            <p> -Short Description on who you are as a compnay- </p>
        </section>
</body>
</html>